.about-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }

}